%div
  = image_tag "me.jpg", :class => "bio-image pull-left"
  %p
    I am a third year Electrical Engineering & Computer Science (EECS) student at UC Berkeley. Originally from Florida, I am proud to say I am half Puerto Rican and half Colombian. I am a very self-motivated, ambitious, driven, and creative person. My passions lie in hacking; everything from Arduino to Android. I also love robotics and embedded systems. I like to think of myself as a swiss army knife of trades. I have worked on everything from AI, machine learning, web design, mobile development, to amplifier design, robotics, and controls while at school. 
  %p
    Appart from the academic, I enjoy playing soccer with friends, salsa dancing, snowboarding (when I can find snow!) and drawing. My family is everything to me and I am very proud of my culture. Right now my plans are to finish my degree at Berkeley and attain a job somewhere in the fields of software engineering or embedded systems. I hope to return to school in the next couple of years in order to get my graduate degree in engineering. 
