%div.pagination-centered
  %a#linkedin{:href => "http://www.linkedin.com/pub/jose-carrillo/20/69b/268"}
    %i.icon-linkedin-sign.icon-contact
  %a#github{:href => "https://github.com/jcarrillo7"}
    %i.icon-github-sign.icon-contact
  %a#phone{:href => "tel:407-697-8030"}
    %i.icon-phone-sign.icon-contact
  %a#email{:href => "mailto:jcarrillo7@live.com"}
    %i.icon-envelope-alt.icon-contact
