%div
  %div.company.row
    %div.span2.pagination-centered
      =image_tag "berkeley_engineering.jpg", :class => "company-image"
    %div.span10
      %h4 ESS PEER ADVISOR, COLLEGE OF ENGINEERING, BERKELEY, CA
      %h5 Aug 2012 - Present
      %p 
        Student advisor for engineering students. Provided support to new students, helping them grow as members of our campus, and help them decide the correct path for them. I worked on a team of peer advisors elping create new programs and opportunities for their advancement while at UC Berkeley.

  %div.company.row
    %div.span2.pagination-centered
      =image_tag "creative.jpg", :class => "company-image"
    %div.span10
      %h4 ELECTRICAL ENGINEERING & CONTROLS INTERN, UNIVERSAL CREATIVE, ORLANDO, FL
      %h5 May 2012 - Aug 2012
      %p
        Intern with the electrical engineering and control systems team. I helped design, develop, and prototype cutting edge control systems for new unannounced guest experiences. I designed control circuitry, theory of operations, and fail-safe wireless communication control systems. I also worked on a team and helped develop a new form of safe uninterruptable wireless communication for moving trains on a ride system. The internship involved programming Programable Logic Controllers, computer vision, app design, control circuitry design, CAD, wireless network architecture, and embedded systems design. I was praised by management for my quality of work.

  %div.company.row
    %div.span2.pagination-centered
      =image_tag "universal.jpg", :class => "company-image"
    %div.span10
      %h4 SEASONAL RIDE ATTENDANT, UNIVERSAL STUDIOS, ORLANDO, FL
      %h5 June 2010 - May 2012
      %p
        I worked on a team to provide an excellent themed guest experience. I was esponsible for guest safety, operations, theming, ride throughput, and guest services. I was consistently praised by management for my extraordinary theming and team work.

  %div.company.row
    %div.span2.pagination-centered
      =image_tag "creative.jpg", :class => "company-image"
    %div.span10  
      %h4 INTERN, UNIVERSAL CREATIVE, ORLANDO, FL
      %h5 June 2009 - April 2010
      %p
        I was one of the first high school interns at Universal Creative. I aided in the development of mechanical, electrical, and robotic control systems on projects like the Hollywood Rip Ride Rockit roller-coaster and the Wizarding World of Harry Potter. Most of the internship involved shadowing engineers/mentors through rotations in the creative design process, maintenance engineering, and future devlopment work.
