%div
  %div.company
    =image_tag "berkeley_engineering.jpg", :class => "company-image pull-left"
    %h4 ESS PEER ADVISOR, COLLEGE OF ENGINEERING, BERKELEY, CA
    %p 
      Student advisor for engineering students. Provided support to new students, helping them grow as members of our campus, and help them decide the correct path for them.

  %div.company
    =image_tag "creative.jpg", :class => "company-image pull-left"
    %h4 ELECTRICAL ENGINEERING & CONTROLS INTERN, UNIVERSAL CREATIVE, ORLANDO, FL
    %p
      Intern with the electrical engineering and control systems team. Helped design, develop, and prototype cutting edge control systems for new unannounced guest experiences. Designed control circuitry, theory of operations, and fail-safe wireless communication control systems. Worked on a team and helped develop a new form of safe uninterruptable wireless communication for moving trains. Praised by management for my quality of work.

  %div.company
    =image_tag "universal.jpg", :class => "company-image pull-left"
    %h4 SEASONAL RIDE ATTENDANT, UNIVERSAL STUDIOS, ORLANDO, FL
    %p
      Worked on a team to provide an excellent themed guest experience. Responsible for safety, operations, theming, and ride throughput. Consistently praised by management for my extraordinary theming, guest service, and team work.

  %div.company
    =image_tag "creative.jpg", :class => "company-image pull-left"
    %h4 INTERN, UNIVERSAL CREATIVE, ORLANDO, FL
    %p
      First high school intern at Universal Creative. Aided in the development of mechanical, electrical, and robotic control systems on projects like the Hollywood Rip Ride Rockit roller-coaster and the Wizarding World of Harry Potter.
