%div
  %h4 Programming Languages
  %p
    Java, Python, Ruby, C, C++, Objective-C, Visual Basic, MATLAB, HTML, XML, CSS
          
  %h4 Hardware Design
  %p
    NI Multisim, NI LabView, NI UltiBoard, LTSpice, HSpice

  %h4 Industrial Hardware & Standards
  %p
    Programmable Logic Controllers, TCP/IP, EtherNet/IP, Familiarity with Rockwell Automation and Allen-Bradley equipment, ASTM Amusement Park Standards

  %h4 Design
  %p
    Rhino 3D, AutoCAD, Photoshop, 3DS Max, SolidWorks

  %h4 Foreign Languages
  %p
    English, Spanish, French
