%div
  %h4 Programming Languages
  %p
    Java, Python, Ruby, C, C++, Objective-C, Visual Basic, MATLAB, HTML, XML, CSS, JavaScript, Assembly, MIPS
  %br
          
  %h4 Hardware Design
  %p
    NI Multisim, NI LabView, NI UltiBoard, LTSpice, HSpice
  %br

  %h4 Industrial Hardware & Standards
  %p
    Programmable Logic Controllers, TCP/IP, EtherNet/IP, Familiarity with Rockwell Automation and Allen-Bradley equipment, ASTM Amusement Park Standards
  %br

  %h4 Design
  %p
    Rhino 3D, AutoCAD, Photoshop, 3DS Max, SolidWorks
  %br

  %h4 Foreign Languages
  %p
    English, Spanish, French
  %br

  %h4 Coursework
  %div.row
    %div.span6
      %h5 Electrical Engineering
      %ul
        %li EE20N Structure and Interpretation of Systems and Signals
        %li EE40 Introduction to Microelectronic Circuits
        %li EE105 Microelectronic Devices and Circuits
        %li EE120 Signals and Systems
        %li EE140 Linear Integrated Circuits
    %div.span6
      %h5 Computer Science
      %ul
        %li CS61A The Structure and Interpretation of Computer Programs
        %li CS61B Data Structures
        %li CS61C Computer Architecture
        %li CS70 Discrete Mathematics and Probability Theory
        %li CS169 Software Engineering
        %li CS188 Introduction to Artificial Intelligence
  %div.row
    %div.span6
      %h5 Engineering
      %ul
        %li E7 Introduction to Computer Programming for Scientists and Engineers
        %li E10 Engineering Design and Analysis
        %li E28 Basic Engineering Design Graphics
        %li E125 Ethics, Engineering, and Society
    %div.span6
      %h5 Sciences
      %ul
        %li Physics 7A Mechanics and Wave Motion
        %li Physics 7B Heat and Electromagnetism
        %li Chem 1A General Chemistry
        
        




