%div.container
  %div.header
    %h1.title
      %strong.b José Carrillo
      is an electrical engineer, computer scientist, programmer, UC Berkeley third year student, and 
      %span#fact{:style => "display: inline; opacity:1.0"} a salsa dancer.
  %div
    %ul.breadcrumb
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab1"} About
        %span.divider / 
      %li
        %a{"data-toggle" => "tab", :href => "#tab2"} Projects
        %span.divider /
      %li
        %a{"data-toggle" => "tab", :href => "#tab3"} Skills
        %span.divider /
      %li
        %a{"data-toggle" => "tab", :href => "#tab4"} Experience
        %span.divider /
      %li
        %a{"data-toggle" => "tab", :href => "#tab5"} Résumé
        %span.divider /
      %li
        %a{"data-toggle" => "tab", :href => "#tab6"} Contact
        %span.divider /
    %div.tab-content
      %div.tab-pane.fade.in.active#tab1
        =render "about_tab"

      %div.tab-pane.fade.in#tab2
 
        =render "projects_tab"

      %div.tab-pane.fade.in#tab3
        =render "skills_tab"

      %div.tab-pane.fade.in#tab4
        =render "experience_tab"

      %div.tab-pane.fade.in#tab5
        =render "resume_tab"
      %div.tab-pane.fade.in#tab6

  %hr
  %footer
    %nav.footer-nav
      %ul
        %li
          =link_to "jcarrillo7@live.com", "mailto:jcarrillo7@live.com"
        %li
          =link_to "407-697-8030", "tel:407-697-8030"
        %li
          =link_to "Résumé", resume_path
