/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree . 
*/
body{
font-size: 12pt;
font-family: 'Raleway', sans-serif;
color: #505050
}

.grey {
color: #a7a7a7;
}

.darkergrey {
color: #505050
}

.title {
font-family: 'Raleway', sans-serif;
font-weight:100;
line-height: 1em;
font-size:50px;
color: #a7a7a7;
}

body {
background: url('/assets/background.png') repeat-x;
background-size: 41%;

}

.header {
margin-top: 95px;
margin-bottom: 95px;
}

::selection {
background: #87d7da;
color: #fff;
text-shadow: none;
}


